@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

* {
  margin: 0;
}

/* Navbar CSS */
.navbar {
  max-width: 600px;
  margin: 0 auto;
  padding: 0.5em;
  border-bottom: 1.3px solid rgba(0, 0, 0, 0.2);
}

.navbar h1 {
  margin-bottom: 1em;
}

.navbar h1 span {
  color: #61d9ff;
  font-size: 1.3em;
  position: relative;
  bottom: -2px;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: large;
}

.navbar-links > a {
  text-decoration: none;
  color: #000;
  transition: 200ms;
}

.navbar-links > a:hover {
  color: #61d9ff;
}

/* Content CSS */
.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em 0;
}

/* Post List CSS */

.post-list {
  text-decoration: none;
}

.post {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  transition: 400ms;
}

.post:hover {
  box-shadow: 2px 2px 5px rgb(155, 155, 155);
}

.link {
  text-decoration: none;
  color: #000;
}

.post-author {
  font-weight: 800;
  display: flex;
  align-items: center;
  margin: 0 0 1em 0;
}

.post-author .author-profile {
  aspect-ratio: 1;
  height: 2.5em;
  background-color: #bcbcbc;
  margin-right: 1em;
  border-radius: 20px;
}

.post-author .author-delete:hover {
  cursor: pointer;
  background-color: #dc5654;
}

.post-body {
  padding: 0 0.5em;
}

/* Create Post CSS */
.create-post {
  background-color: #fff;
  padding: 1em 3em;
}

.create-post form {
  display: flex;
  flex-direction: column;
}

.create-post label {
  color: #7b7b7b;
  margin: 0.4em 0;
}

.create-post input,
.create-post textarea {
  border: none;
  background-color: #f6f6f6;
  padding: 1em;
  margin-bottom: 1.5em;
  resize: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
}

.create-post button {
  border: none;
  padding: 1em;
  font-size: 16px;
  border-radius: 20px;
  margin-top: 1em;
  background-color: #61d9ff;
  color: white;
  transition: 500ms;
}

.create-post button:hover {
  cursor: pointer;
  background-color: #5acbed;
}

.create-post button:disabled,
.create-post button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* Post Detail */

.post-details .post-delete {
  background-color: rgb(226, 81, 81);
  border: none;
  padding: 1em 2em;
  margin: 2em 0;
  border-radius: 10px;
  color: white;
  transition: 500ms;
}

.post-details .post-delete:hover {
  background-color: #c85d5c;
  cursor: pointer;
}
